body {
  background-color: rgb(58, 178, 78);
  display: flex;
  text-align: center;
  justify-content: center;
}
.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  font-size: 50px;
}
#game {
  text-align: center;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
